.loginPage{
    height: 100vh;
    position: relative;
}
.loginPage__header{
    padding: 5px 70px;
    height: 80px;
}
@media (max-width:740px){
    .loginPage__header{
        background-color: rgb(0, 0, 0);
        padding: 0 5%;
    }
}
.loginPage__logo{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
.loginPage__logo > img{
    height: 3rem;
}
.loginPage__background{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.loginPage__background > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.loginPage__gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}
.loginPage__loginBody{
    width: 450px;
    margin: 0 auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgba(0,0,0,.75);
    padding: 60px 68px 40px;
    display: flex;
    flex-direction: column;
}
@media (min-width:740px) {
    .loginPage__loginBody{
        min-height: 660px;
    }
}
@media (max-width:740px) {
    .loginPage__loginBody{
        width: 100%;
        height: calc(100% - 80px);;
        background-color: rgb(0, 0, 0);
        padding: 0 5%;
    }
}
.loginPage__form{
    display: flex;
    flex-direction: column;
}
@media (max-width:740px) {
    .loginPage__form{
        padding: 20px 0 30px;
    }
}

.loginPage__formTitle{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--main-white-color);
    text-transform: capitalize;
}
.loginPage__input{
    background-color:#e8f0fe;
    padding: 15px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 15px;
    color: var(--main-white-color);
    font-size: 1rem;
}
.loginPage__input:focus{
    background-color: #454545;
}
.loginPage__input::placeholder{
    color: #8c8c8c;
}
.loginPage__loginBtn{
    margin-top: 40px;
    padding: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--netflix-red-color);
    color: var(--main-white-color);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.loginPage__signUpText{
    color: #737373;
    margin-top: 16px;
    font-weight: 500;
    font-size: 1rem;
}
.loginPage__signUpBtn{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--main-white-color);
    font-size: 1rem;
    cursor: pointer;
}
.loginPage__signUpBtn:hover{
    text-decoration: underline;
}