.homePage{
    min-height: 10000px;
    background-color: var(--main-background-color);
    width: 100%;
    overflow: hidden;
    position: relative;
}
.homePage__mainContents{
    position: relative;
}