.rowTitle{
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
}
.rowTitle__headerText{
    font-weight: 600;
    text-transform: capitalize;
    color: var(--second-white-color);
    font-size: 1.8vw;
    position: relative;
    display: flex;
    align-items: center;
}
.rowTitle:hover .rowTitle__headerText{
    color: var(--main-white-color);
}
.rowTitle__headerText > .MuiSvgIcon-root{
    position: relative;
    color: #54b9c5;
    font-size: 2vw !important;
    left: 0;
    top: 0.1vw;
    transition: left 0.3s ease-out;
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -ms-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    opacity: 0;
}
.homePageRow:hover .rowTitle__headerText > .MuiSvgIcon-root{
    opacity: 1;
}
.rowTitle:hover .rowTitle__headerText > .MuiSvgIcon-root{
    font-size: 1.4vw !important;
    left: 5.2vw;
    opacity: 1;
}
.rowTitle__exploreAll{
    position: relative;
    color: #54b9c5;
    font-weight: 500;
    font-size: 1vw;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    opacity: 0;
    left: -2vw;
}
.rowTitle:hover .rowTitle__exploreAll{
    opacity: 1;
    left: -0.5vw;
}
