@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-background-color:#141414;
  --main-white-color:#fff;
  --second-white-color:#e5e5e5;
  --netflix-red-color:#e50914;
}
body{
  font-family: 'Roboto', sans-serif;
}

a{
  color: currentColor;
  text-decoration: none;
}
li{
  list-style: none;
}